<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="interfaceForPTMPEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2717/InterfaceForPtm.svc"
                binding="basicHttpBinding" bindingConfiguration="interfaceForPTMPEndpoint"
                contract="ServiceReference1.IInterfaceForPTMService" name="interfaceForPTMPEndpoint" />
        </client>
    </system.serviceModel>
</configuration>