<#@ template language="C#" hostspecific="True"#>  
<#@include file="Manager.ttinclude"#>  
<# var manager = Manager.Create(Host, GenerationEnvironment); #> 

 <# manager.StartNewFile("Employee.generated.cs"); #>  
      
  <# manager.EndBlock(); #>  